<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Client CRUD User Interface</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container"> <!-- class="table-responsive text-nowrap (play with Bootstrap attributes for look you want) -->
  <nav class="navbar navbar-inverse">
  <a class="navbar-brand" class="active" href="/">Home</a>
  
    <span class="navbar-toggler-icon"></span>
  </button>

   <ul class="nav navbar-nav">
      <li ><a href="/clients">Clients</a></li>
      <li><a href="/physio">Physios</a></li>
      <li ><a href="/sessions">Sessions</a></li>
      
    </ul>
</nav>
<img src="CRM_logo.svg" style=" position:relative; width: 500px; left:300px "/>
</div>

</body>
</html>